# Default ignored files
/shelf/
/workspace.xml
.idea
# Datasource local storage ignored files
/../../../../../../:\Users\Vitor\IdeaProjects\EstudosJava-Estruturas de console\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
